*.DS_Store
*.pyc
*.egg-info
*.swp
tags
revelare/docs/current
.vscode
revelare/public/js/revelar.min.js.map
revelare/public/js/revelar.min.js
revelare/public/css/revelare.min.css
revelare/public/css-rtl
