/*el contenedor debe estar posicionado como relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

/* input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
} */

input[type=submit] {
    background-color: #353b48;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*posiciona los ítems de autocompletar para que tengan el mismo ancho que el contenedor:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*cuando alguien se colola sobre el item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*Cuando se navega por los elementos con las teclas de arriba y abajo:*/
.autocomplete-active {
    background-color: #353b48 !important;
    color: #ffffff;
}